# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Dossiers de logs et données générées
log/
loot_export.json

# Fichiers générés par PyInstaller
build/
dist/
*.spec

# Environnements virtuels
venv/
env/
.env

# Fichiers système (Mac/Windows)
.DS_Store
Thumbs.db